<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

    <system.serviceModel>
        <client>
            <endpoint   name="RemoteService"
                        address="http://localhost:8080/Services"
                        binding="basicHttpBinding"
                        contract="WcfTest.IWcfTest"/>
        </client>
    </system.serviceModel>

</configuration>

