<cruisecontrol>

    <!-- project to auto-update the CCNet config -->
    <project name="CcNetAutoUpdate" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://rgb-playground.googlecode.com/svn/ccnet</trunkUrl>
            <workingDirectory>C:\Program Files\CruiseControl.NET\server</workingDirectory>
            <autoGetSource>true</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="60" />
        </triggers>

        <publishers>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="CcNetAutoUpdateNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="always"/>
                </groups>
            </email>

        </publishers>

    </project>

    <project name="CcNetConnectivityCheck" buildCondition="ForceBuild" queue="CcNet">

        <triggers>
            <intervalTrigger seconds="240" />
        </triggers>

        <sourcecontrol type="nullSourceControl" />

        <tasks>
            <exec executable="..\..\PingTest.bat">
                <buildTimeoutSeconds>30</buildTimeoutSeconds>
            </exec>
        </tasks>

    </project>

    <project name="Samples" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://rgb-playground.googlecode.com/svn/trunk</trunkUrl>
            <autoGetSource>false</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="60" />
        </triggers>

        <tasks>

            <exec executable="..\..\SVNSample_trunk_CleanGet.bat">
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>

            <nant>
                <executable>c:\build\Samples\SDKs\nant-0.85\bin\nant.exe</executable>
                <baseDirectory>c:\build\Samples</baseDirectory>
                <buildArgs>-l:results\buildresults.xml</buildArgs>
            </nant>

        </tasks>

        <publishers>

            <merge>
                <files>
                     <file>c:\build\Samples\results\*.xml</file>
                </files>
            </merge>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="SamplesNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="change"/>
                </groups>
            </email>

        </publishers>

    </project>

    <project name="Atlanta" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://atlanta.googlecode.com/svn/trunk</trunkUrl>
            <autoGetSource>false</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="60" />
        </triggers>

        <tasks>

            <exec executable="..\..\SVNAtlanta_trunk_CleanGet.bat">
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>

            <nant>
                <executable>c:\build\Atlanta\SDKs\nant-0.85\bin\nant.exe</executable>
                <baseDirectory>c:\build\Atlanta</baseDirectory>
                <buildArgs>-l:results\buildresults.xml build exportResults clean</buildArgs>
            </nant>

        </tasks>

        <publishers>

            <merge>
                <files>
                     <file>c:\build\Atlanta\results\*.xml</file>
                </files>
            </merge>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="AtlantaNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="change"/>
                </groups>
            </email>

        </publishers>

    </project>

</cruisecontrol>