<cruisecontrol>

    <!-- project to auto-update the CCNet config -->
    <project name="CcNetAutoUpdate" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://rgb-playground.googlecode.com/svn/trunk/ccnet</trunkUrl>
            <workingDirectory>C:\Program Files\CruiseControl.NET\server</workingDirectory>
            <autoGetSource>true</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="60" />
        </triggers>

        <publishers>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="CcNetAutoUpdateNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="always"/>
                </groups>
            </email>

        </publishers>

    </project>

</cruisecontrol>