<cruisecontrol>

    <!-- project to auto-update the CCNet config -->
    <project name="CcNetAutoUpdate" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://rgb-playground.googlecode.com/svn/ccnet</trunkUrl>
            <workingDirectory>C:\Program Files\CruiseControl.NET\server</workingDirectory>
            <autoGetSource>true</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="180" />
        </triggers>

        <publishers>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="CcNetAutoUpdateNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="always"/>
                </groups>
            </email>

        </publishers>

    </project>

    <project name="CcNetConnectivityCheck" queue="CcNet">

        <triggers>
            <intervalTrigger seconds="180" buildCondition="ForceBuild" />
        </triggers>

        <sourcecontrol type="nullSourceControl" />

        <tasks>
            <exec executable="..\..\PingTest.bat">
                <buildTimeoutSeconds>30</buildTimeoutSeconds>
            </exec>
        </tasks>

    </project>

    <project name="Samples" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://rgb-playground.googlecode.com/svn/trunk</trunkUrl>
            <autoGetSource>false</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="180" />
        </triggers>

        <tasks>

            <exec executable="..\..\SVNSample_trunk_CleanGet.bat">
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>

            <nant>
                <executable>c:\build\Samples\SDKs\nant-0.85\bin\nant.exe</executable>
                <baseDirectory>c:\build\Samples</baseDirectory>
                <buildArgs>-l:results\buildresults.xml</buildArgs>
            </nant>

        </tasks>

        <publishers>

            <merge>
                <files>
                     <file>c:\build\Samples\results\*.xml</file>
                </files>
            </merge>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="SamplesNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="change"/>
                </groups>
            </email>

        </publishers>

    </project>

    <project name="Atlanta" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://atlanta.googlecode.com/svn/trunk</trunkUrl>
            <autoGetSource>false</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="180" />
        </triggers>

        <tasks>

            <exec executable="..\..\SVNAtlanta_trunk_CleanGet.bat">
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>

            <nant>
                <executable>c:\build\Atlanta\SDKs\nant-0.86\bin\nant.exe</executable>
                <baseDirectory>c:\build\Atlanta</baseDirectory>
                <buildArgs>-l:results\buildresults.xml build exportResults clean</buildArgs>
            </nant>

        </tasks>

        <publishers>

            <merge>
                <files>
                     <file>c:\build\Atlanta\results\*.xml</file>
                </files>
            </merge>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="AtlantaNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="change"/>
                </groups>
            </email>

        </publishers>

    </project>

    <project name="NAntScript" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://nantscript.googlecode.com/svn/trunk</trunkUrl>
            <autoGetSource>false</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="180" />
        </triggers>

        <tasks>

            <exec executable="..\..\SVNNAntScript_trunk_CleanGet.bat">
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>

            <nant>
                <executable>c:\build\NAntScript\SDKs\nant-0.85\bin\nant.exe</executable>
                <baseDirectory>c:\build\NAntScript</baseDirectory>
                <buildArgs>-l:results\buildresults.xml export clean</buildArgs>
            </nant>

        </tasks>

        <publishers>

            <merge>
                <files>
                     <file>c:\build\NAntScript\results\*.xml</file>
                </files>
            </merge>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="NAntScriptNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="change"/>
                </groups>
            </email>

        </publishers>

    </project>

    <project name="ExecParse" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://execparse.googlecode.com/svn/trunk</trunkUrl>
            <autoGetSource>false</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="180" />
        </triggers>

        <tasks>

            <exec executable="..\..\SVNExecParse_trunk_CleanGet.bat">
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>

            <exec>
                <executable>c:\build\ExecParse\Package.bat</executable>
                <baseDirectory>c:\build\ExecParse</baseDirectory>
            </exec>

        </tasks>

        <publishers>

            <merge>
                <files>
                     <file>c:\build\ExecParse\Test\bin\Release\TestResult.xml</file>
                </files>
            </merge>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="ExecParseNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="change"/>
                </groups>
            </email>

        </publishers>

    </project>

    <project name="NhLambdaExtensions" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://nhlambdaextensions.googlecode.com/svn/trunk</trunkUrl>
            <autoGetSource>false</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="180" />
        </triggers>

        <tasks>

            <exec executable="..\..\SVNNhLambdaExtensions_trunk_CleanGet.bat">
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>

            <nant>
                <executable>c:\build\NhLambdaExtensions\SDKs\nant-0.86\bin\nant.exe</executable>
                <baseDirectory>c:\build\NhLambdaExtensions</baseDirectory>
                <buildArgs>-l:build\buildresults.xml package exportResults clean</buildArgs>
            </nant>

        </tasks>

        <publishers>

            <merge>
                <files>
                     <file>c:\build\NhLambdaExtensions\build\*.xml</file>
                     <file>c:\build\NhLambdaExtensions\build\debug\*-results.xml</file>
                </files>
            </merge>

            <xmllogger/>

            <email from="no.reply@tellusvm.com" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="NhLambdaExtensionsNotify" group="developers" address="fluke_fan@hotmail.com"/>
                </users>
                <groups>
                    <group name="developers" notification="change"/>
                </groups>
            </email>

        </publishers>

    </project>

</cruisecontrol>