<configuration>

    <system.serviceModel>
        <client>
            <endpoint   name="TestService"
                        address="http://localhost/sl_wcf/TestService.svc"
                        binding="basicHttpBinding"
                        contract="Demo.Services.ITestService"/>
        </client>
    </system.serviceModel>

</configuration>

