<?xml version="1.0"?>
<configuration>

    <configSections>
    </configSections>

    <system.serviceModel>

        <services>
            <service name="SlWcf.Services.TestService" behaviorConfiguration="DemoDebugServiceBehavior">
                <endpoint address="" binding="basicHttpBinding" contract="SlWcf.Services.ITestService"/>
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="DemoDebugServiceBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

    </system.serviceModel>

</configuration>

