<cruisecontrol>

    <!-- project to auto-update the CCNet config -->
    <project name="CcNetAutoUpdate" queue="CcNet">

        <sourcecontrol type="svn">
            <trunkUrl>http://rgb-playground.googlecode.com/svn/trunk/ccnet</trunkUrl>
            <workingDirectory>C:\Program Files\CruiseControl.NET\server</workingDirectory>
            <autoGetSource>true</autoGetSource>
        </sourcecontrol>

        <triggers>
            <intervalTrigger seconds="60" />
        </triggers>

    </project>

</cruisecontrol>